<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hs.demo.dome_network_json" >

    <!-- 索取使用网络功能的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 添加开发者密钥 -->
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JH9c013b3e708755f7b6feebdeabf55b3c" />

        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewUtil"
            android:label="@string/title_activity_web_view_util" >
        </activity>
        <activity
            android:name=".HttpConnectionUtil"
            android:label="@string/title_activity_http_connection_util" >
        </activity>
        <activity
            android:name=".JsonProcess"
            android:label="@string/title_activity_json_process" >
        </activity>
        <activity
            android:name=".ServiceTest"
            android:label="@string/title_activity_service_test" >
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".MyIntentService"
            android:exported="false" >
        </service>
        <service
            android:name=".LongRunningService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".FileSave"
            android:label="@string/title_activity_file_save" >
        </activity>
        <activity
            android:name=".activities.Database"
            android:label="@string/title_activity_database" >
        </activity>
    </application>

</manifest>
